$primary-color:#2979ff;
$primary-color-dark:#3f51b5;

$secondary-color:#ff80ab;

$black:rgba(0,0,0,0.87);
$secondary-black:rgba(0,0,0,0.60);
$disabled:rgba(0,0,0,0.12);
$white:rgba(255,255,255,1);

$main-bg:#f5f5f5;

/* general styling */
* {
	box-sizing:border-box;
	font-family: 'Lato', sans-serif;
	margin:0;
	padding:0;
	font-size:16px;
}

/* clearfix */

.cf:before,
.cf:after {
    content: "";
    display: table;
} 
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}

/* clear fix */
.main-bg {
	background-color:$main-bg;
}

.wrapper {
	width:1344px;
	max-width:90%;
	margin:0 auto;
}


.highlight {
	background-color:pink;
}

/* text */
h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
	color:$black;
}

p {
	color:$black;
}

a {
	color:$black;
	text-decoration:none;
	cursor:pointer;
}

/* buttons */
button {
	cursor:pointer;
}


.btn {
	background:rgba(255,255,255,0.8);
	border:none;
	border-radius:5px;
	padding:0.5em 2em;
	outline:none;
	transition: .2s ease-in-out;
}

.btn-primary {
	background:$primary-color;
	a {
		color:$white;
		font-size:14px;
	}
}

.btn-secondary {
	&:hover {
		background:rgba(255,255,255,1)
	}
	a {
		font-size: 14px;
	}
}

.btn-tertiary {
	border:1px solid $primary-color;
	a {
		color:$primary-color;
		font-size:14px;
	}
}

/* main header styling */

.header-container {
	background:url("http://localhost:8001/images/backgrounds/headerbg1.jpg");
	background-size:cover;
	background-position: center; 
	height:467px;
	position:relative;
	.semi-transparent-layer{
		background-color: rgba(0, 0, 0, 0.25);
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    .topbar {
		margin-top:30px;
			.logo {
			text-transform: uppercase;
			color:$white;
			float:left;
			font-weight:700;
			font-size:24px;
			}
			.searchbar {
				display: inline-block;
				input[type=text]{
					padding: .6em 0 .6em 1em;
				    width: 400px;
				    border-radius: 5px 0 0 5px;
				    border-top:1px solid #cfd8dc;
				    border-bottom:1px solid #cfd8dc;
				    border-left:1px solid #cfd8dc;
				    border-right:none;
				}
				button[type=submit]{
					background:#eee;
					border:1px solid #cfd8dc;
					border-radius:0 5px 5px 0;
					padding:.6em 2em;
					margin-left: -4px;
					outline:none;
					color:#90a4ae;
					transition: .2s ease-in-out;
					&:hover{
						background: #dddddd;
						color: #78909c;
					}
				}
			}
			.account-btns {
				float:right;
				button {
					margin-left: 14px;
				}
			}
		}
		.slogan-container {
			text-align: center;
			margin-top: 150px;
			.main-header-title{
				color:$white;
				font-size: 3rem;
				font-weight: 400;
				line-height: 1.5;
			}
			.main-header-subtitle{
				color:$white;
				font-size: 1.5em;
				font-weight: 300;
			}
		}
	}

}

.header-caption{
	background-color:#41676f;
	height:40px;
	.caption-text, .caption-text a{
		float:right;
		font-size: 12px;
		color:$white;
		margin-right: 30px;
		margin-top: 5px;
		font-style: italic;
	}
}

/* main container styling */

.main-content-container {
	background:$white;
	margin-top:-83px;
	position:relative;
	z-index:2;
	max-width:100%;
}

.main-content {
	max-width:100%;
}

.main-content-box {
	display:inline-block;
	width:70%;
	max-width:100%;
}

/* main side bar styling */
.sidebar {
	display:inline-block;
	width:25%;
}

.main-sidenav-container {
	display:inline-block;
	.sidebar-menu-title {
		margin-bottom:32px;
		font-weight: 900;
	}
	a {
		display: block;
		padding-bottom:28px;
		font-size: 16px;
		color:$secondary-black;
	}

}


/* main content box styling */

.main-content-box-container {
	ul {
		background-color:red;
		list-style-type:none;
		li {
			display: inline-block;
			background-color:lightgreen;
			margin-right: 40px;
			width:25%;
			img {
				display: block;
			}
			a {
				display:block;
				font-size: 18px;
				font-weight: 700;
				margin-top: 20px;
			}
		}
	}
}

.main-content-box-header {
	margin-bottom:32px;
	h2 {
		display: inline-block;
		float:left;
		font-size: 24px;
	}
	button {
		display: inline-block;
		float:right;
	}
}

