 * {
 	margin:0;
 	padding:0;
 	font-family: 'Open sans';
 	box-sizing: border-box;
 }


.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

 .wrapper {
 	width:1440px;
 	max-width:90%;
 	margin:0 auto;
 }


/* General Style */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin:0;
}



/* Body Style */


/* Header Styles */
#topbar {
	padding:1.5em 0;
	text-align:center;
	border-bottom: 1px solid #eee;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}


.logo {
	display: inline-block;
	float:left;
	text-transform: uppercase;
	font-weight: 700;
	font-size:1.5em;
	line-height:1em;
}

.searchbar {
	display:inline-block;
	line-height: 1em;
}

.account-btns {
	display:inline-block;
	float:right;
	line-height:1em;
}


/* Index list content styles*/
.listSection {
	padding:4em 0;
	margin:1em auto;
}

.listSection h1 {
	padding-bottom: 2em;
}

.listSection ul {
	list-style-type:none;
}

.listSection li {
	display: inline-block;
	width:19%;
	margin-right:.7%;
}